#container {
    top:5%;
  height:100%;
  width: 100%;
  text-align:center;
  position: relative;
  padding:0px;
}
#container div
{
  display: inline-block
}
#background {
  border-radius:25px;
  top:20%;
  z-index: 100;
  min-width: 42%;
  max-width:42%;
  max-height:30%;
  min-height:30%;
  position: absolute;
  left:29%;
  background-color:rgba(0,0,0,0.3);
}
#image {
  max-width: 80%;
  max-height: 80%;
  min-width:80%;
  min-height:80%;
  left: 0;
  top:500px
}
html, body {
    margin: 0;
    height: 100%;
    background-color: rgba(1,1,1,0.5);
}
#text {
  vertical-align: middle;
  top:20%;
  z-index: 100;
  min-width: 40%;
  max-width:40%;
  max-height:40%;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  left:30%;
 text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
  font-family: fantasy;
  color:white;
}
#author {
  vertical-align: middle;
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: bold;
  min-width:40%;
  max-width: 40%;
  left:29%;
  top: 40%;
   text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
  font-family: fantasy;
}
#link {
  text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
  font-family: fantasy;
  vertical-align: middle;
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: bold;
  min-width:40%;
  max-width: 40%;
  left:45%;
  top: 85%;
  
}